.container{
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    .titleText{
        color: black;
        font-size: 18px;
        text-align: center;
    }
    .popupContainer{
        height: fit-content;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    .fieldsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fields{
        width: 400px;
    }
    .button{
        width: 300px;
        height: 50px;
        background-color: #032843;
        .buttonText{
            text-align: center;
            font-size: 15px;
            color: white;
            font-weight: 700;


        }
    }
}
}