.container{
    display: flex;
    align-items: center;
    .button{
        padding: 10px 20px;
        background-color: #007BFF;
        color: #FFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }


    .input{
        display: none;
    }
}