@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.container{
    width: 20vw;
    background-color: $app-theme;
    height: 100vh;
    @include flexdirection($justifycontent:space-between);
    .menuOptions{
        @include flexdirection();
        width: 100%;
    }
    .menuOptionContainer{
        width: 100%;
        border:1px solid $whitesmoke;
        cursor: pointer;
        text-align: center;
    }
    .menuOptionText{
        font-weight: 500;
    }

    .logoutcontainer{
        @include flexdirection($direction:row);

        .logoutbtn{
            height: 30px;
            width: 30px;
            margin:0px 3px
        }
    }
}