@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.container{
    width: 13vw;
    background-color: $app-theme;
    height: 100vh;
    @include flexdirection($justifycontent:space-between);
    .menuOptions{
        @include flexdirection();
        width: 100%;
    }
    .logo{
        margin-top: 20px;
        height: 60px;
    }
    .appName{
        font-weight: 500;
        font-family:"Lily Script One", system-ui;
        font-size: 23px;
        text-align: center;
         
    }
    .menuOptionContainer{
        width: 100%;
        border:1px solid $whitesmoke;
        cursor: pointer;
        text-align: center;
    }
    .menuOptionText{
        font-weight: 500;
        font-size: 16px;
    }

    .logoutcontainer{
        @include flexdirection($direction:row);

        .logoutbtn{
            height: 30px;
            width: 30px;
            margin:0px 3px
        }
    }
}