.container{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    .transparentcontainer{
        height: 100px;
        width: 100px;
    }
}
.videocontainer{
    position: fixed;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}